NAVER_CLIENT_ID=your_naver_api_client_id
NAVER_CLIENT_SECRET=your_naver_api_client_secret

# 아래는 선택 항목 (기본값은 "모두의 풋살축구" 카페, 용산/도곡 매칭 검색)
# TARGET_CAFE=모두의 풋살축구
# SEARCH_QUERIES=용산 풋살,도곡 풋살,용산 풋살 매칭,도곡 풋살 매칭
# EXCLUDE_KEYWORDS=초청,매칭완료,용병
# REMOVE_FROM_TITLE=스타디움
